

<div><%= link_to "Home", people_path(Person.all) %></div>
<h2>Name</h2>
<div><%= @person.name %></div>
<h2>Job</h2>
<div><%= @person.job.title %></div>
<h2>Agency</h2>
<div><%= @person.agency%></div>
<h2>Email</h2>
<div><%= @person.email %></div>
<h2>Phone</h2>
<div><%= @person.phone %></div>
<h2>Address</h2>
<div><%= @person.address %></div>


<% if @person.projects.length != 0 %> 
<h2>Projects</h2>
<% @person.projects.each do |project| %>
<li><%= project %></li>
<% end %>
 <% end %> 


<% if @person.materials.length != 0 %> 
<h2>Materials</h2>
<div><% @person.materials.each do |material| %></div>
<li><%= material %></li>
<% end %>
 <% end %> 

<h2>Notes</h2>
<div><%= @person.notes %></div>


